@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:rgb(223, 207, 187);
  font-family: "Handlee", cursive;
  letter-spacing: 2px;
  font-weight: bold;
  color: rgb(119, 83, 36);
  padding-top: 10%;
}
main {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  color:rgb(119, 83, 36);

}
.header img {
  height: 350px;
  border-radius: 10px;
  margin: 1.5rem;
}

select {
  /* height: 50px; */
  padding: 0.5rem;
  font-size: 24px;
  text-transform: capitalize;
  font-family: "Handlee", cursive;
  font-weight: bold;
  margin: 0.5rem;
  border-radius: 15px;
  text-align: center;
}
.section {
  border-radius: 10px;
  padding: 2rem;
  font-size: 30px;
  color: rgb(119, 83, 36);
  text-align: center;
  border:2px solid black;
  background-color: burlywood;
  box-shadow: 10px -5px black;

}